hr {border-top: 1px solid #000000;}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

*:not(.glyphicon,.fa, .fas, .fa-solid, .sidebar-toggle) {
  font-family: Kreon!important
}

.irs--shiny .irs-bar, .irs--shiny .irs-single {
  border: #00839B;
  background: white;
}

.main-header .logo {
  background-color: #CFDE00 !important;
  color: #00839B !important;
}

.sidebar{
  height: 92vh;
  overflow-y:auto;
}

.main-sidebar .shiny-bound-input {
  color: #00839B !important;
}

.main-header .navbar {
  background-color: white !important;
  color: #00839B !important;
}

.sidebar-toggle {
  color:  #00839B !important;
  position: absolute !important;
  left: -250px !important;
  padding: 15px 15px !important;
}

.sidebar-toggle:hover {
  color: white !important;
}

.content{
  padding: 0;
}

/*.tab-content{
  overflow-y:scroll;
  overflow-x:hidden;
  padding: 0;
}*/

.content {
  padding: 10px;
  height:90vh;
  overflow-y:scroll;
  overflow-x:hidden;
}

.row-btn {
    font-size: 10px !important;
    padding: 3px !important;
    height: 20px;
    width: 20px;
}

.small-info{
  width:30px;
  height:30px;
}

.compact {
  padding: 0;
  margin-bottom: 0;
}

.selectize-control{
  margin-bottom:0;
  font-size: 12px !important;
  height: 35px;
  padding: 3px;
}

.form-control{
  font-size: 12px !important;
}

.form-control.selectize-control{
  min-height: 33px;
}

.record_control{
  height:75px;
}

#queryRecords-resultsMap{
  height:75vh !important;
}

#installsManage-installsMap{
  height:75vh !important;
}

.shiny-validation-message{
  font-size: 12px;
  height: 13px;
  padding:0;
  margin-top:1px;
  position:absolute;
}

body {
  overflow:hidden;
}
body h1, h2, h3, h4 {
  color:  #00839B !important;
}

h2, h3,h4 {
  margin-top:10px;
  margin-bottom:5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Loading animation */

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

/* Hidden button */

.buttonHidden {
  visibility: hidden !important;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

/* Hide disabled DT filter boxes */

div:has(> input[type~="search"]:disabled){
  visibility: hidden;
}

/* CUSTOM SPINNERS FOR MODULES LOADING */

div[data-spinner-id~="surveys-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #surveys-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

/* Records modules */

div[data-spinner-id~="queryRecords-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #queryRecords-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

div[data-spinner-id~="enterRecords-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #enterRecords-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

div[data-spinner-id~="importRecords-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #importRecords-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

/* Vegetation modules */

div[data-spinner-id~="vegManage-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #vegManage-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

/* Monitoring tools modules*/

div[data-spinner-id~="plantLists-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #plantLists-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

div[data-spinner-id~="vegLists-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #vegLists-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

/* Sp Intros module */

div[data-spinner-id~="spIntro-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #spIntro-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

/* Hydro modules */

div[data-spinner-id~="installsManage-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #installsManage-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

div[data-spinner-id~="loggersManage-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #loggersManage-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}

div[data-spinner-id~="dipsImport-module"] {
  display: inline-block;
  width:100%;
  height:100%;
}

.load-container:has(> #dipsImport-module) {
  background:rgba(250,250,250,0.4);
  height:100%;
  width:100%;
  z-index: 10000000;
}
